#topbar {
  background-color: DarkGray;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 1000; /* Ensure the topbar is above most elements */
}

#topbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#topbar a:hover {
  background-color: #ddd;
  color: black;
}

#topbar div {
  float: right;
}
